:root {
    --color-dark-primary: #181825;
    --color-dark-secondary: #313244;
    --color-white: #cdd6f4;
    --color-active: #89dceb;
    --color-urgent: #fab387;

    --margin-lg: 1em;
    --margin-sm: 0.5em;
}

* {
    border-radius: 0;
    border: none;
    box-shadow: none;
    background-image: none;
    font-family: "JetBrains Mono Nerd Font";
}

scale > trough {
    background-color: var(--color-dark-secondary);
}

.widget {
    padding: 6px;
}

scale > trough > highlight {
    color: var(--color-dark-primary);
    background-color: var(--color-active);
    border-style: solid;
    border-color: var(--color-white);
    border-width: 0.2em;
}

scale > trough > slider {
    background-color: var(--color-white);
}

switch > slider {
    background-color: var(--color-white);
    border-color: var(--color-dark-primary);
    border: solid
}

switch:checked {
    background-color: var(--color-active);
}

switch:not(:checked) {
    background-color: var(--color-dark-secondary);
}

#bar, popover, popover contents, calendar, popover .view {
    background-color: var(--color-dark-primary);
}

#bar, popover {
    border: solid;
    border-color: var(--color-active);
    border-width: 2px;
}

.popup {
    border-color: var(--color-active);
    border: solid;
    border: 0.2em;
}

box, button, label {
    background-color: #0000;
    color: var(--color-white);
    background-size: 0%;
    transition: background-size 1s ease-in-out;
}

button {
    padding-left: var(--margin-sm);
    padding-right: var(--margin-sm);
}

button:hover, button:active, *:selected {
    background-size: 100%;
    background-color: var(--color-dark-secondary);
}

.popup-clock .calendar-clock {
    font-size: 2.0em;
}

.popup-clock .calendar .today {
    border-color: var(--color-dark-secondary);
    border: solid;
    border-width: 2px;
}

.workspaces .item {
    padding: 2px;
    width: 2%;
    font-weight: bold;
    font-size: 12px;
    color: var(--color-dark-secondary);
    box-shadow: inset 0 0 0;
    transition: box-shadow 1s;
}

.workspaces .item.visible {
    color: var(--color-white);
}

.workspaces .item.focused {
    color: var(--color-white);
    box-shadow: inset 0 -3px var(--color-active);
    background-color: var(--color-dark-secondary);
}

.workspaces .item.urgent {
    color: var(--color-urgent);
    border-color: var(--color-urgent);
    border: solid;
    border-color: 2px;
}