@define-color window_bg_color #181825dd;
@define-color accent_bg_color #89dceb;
@define-color theme_fg_color #cdd6f4;
@define-color error_bg_color #e64553;
@define-color error_fg_color #cdd6f4;

* {
  all: unset;
}

popover {
  background: lighter(@window_bg_color);
  border: 1px solid darker(@accent_bg_color);
  border-radius: 0px;
  padding: 10px;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

scrollbar {
  opacity: 0;
}

.box-wrapper {
  box-shadow:
    0 16px 32px rgba(0, 0, 0, 0.3),
    0 16px 12px rgba(0, 0, 0, 0.20);
  background: @window_bg_color;
  padding: 20px;
  border-radius: 0px;
  border: 1px solid darker(@accent_bg_color);
}

.preview-box,
.elephant-hint,
.placeholder {
  color: @theme_fg_color;
}

.box {
}

.search-container {
  border-radius: 0px;
}

.input placeholder {
  opacity: 0.5;
}

.input selection {
  background: #00000000;
}

.input {
  caret-color: @theme_fg_color;
  background: #00000000;
  padding: 10px;
  color: @theme_fg_color;
}

.input:focus,
.input:active {
}

.content-container {
}

.placeholder {
}

.scroll {
}

.list {
  color: @theme_fg_color;
}

child {
}

.item-box {
  border-radius: 10px;
  padding: 10px;
}

.item-quick-activation {
  background: alpha(@accent_bg_color, 0.25);
  border-radius: 0px;
  padding: 10px;
}

/* child:hover .item-box, */
child:selected .item-box,
row:selected .item-box {
  background: alpha(@accent_bg_color, 0.3);
}

.item-text-box {
}

.item-subtext {
  font-size: 12px;
  opacity: 0.3;
}

.providerlist .item-subtext {
  font-size: unset;
  opacity: 0.8;
}

.item-image-text {
  font-size: 24px;
}

.preview {
  border: 1px solid alpha(@accent_bg_color, 0.25);
  padding: 10px;
  border-radius: 0px;
  color: @theme_fg_color;
}

.calc .item-text {
  font-size: 24px;
}

.calc .item-subtext {
}

.symbols .item-image {
  font-size: 24px;
}

.todo.done .item-text-box {
  opacity: 0.2;
}

.todo.urgent {
  font-size: 24px;
}

.todo.active {
  font-weight: bold;
}

.bluetooth.disconnected {
  opacity: 0.6;
}

.preview .large-icons {
  -gtk-icon-size: 64px;
}

.keybinds {
  padding-top: 10px;
  border-top: 1px solid lighter(@window_bg_color);
  font-size: 12px;
  color: @theme_fg_color;
}

.global-keybinds {
}

.item-keybinds {
}

.keybind {
}

.keybind-button {
  opacity: 0.6;
}

.keybind-button:hover {
  opacity: 0.8;
}

.keybind-bind {
  text-transform: lowercase;
  opacity: 0.3;
}

.keybind-label {
  padding: 2px 6px;
  border-radius: 0px;
  border: 1px solid @theme_fg_color;
}

.error {
  padding: 10px;
  background: @error_bg_color;
  color: @error_fg_color;
}

:not(.calc).current {
  font-style: italic;
}

.preview-content.archlinuxpkgs,
.preview-content.dnfpackages,
.preview-content.aptpackages {
  font-family: "JetBrains Mono Nerd Font";
}